%flex-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar{
  @extend %flex-layout;
  padding: $base-padding $base-padding *2;
  box-shadow: $base-box-shadow;
  z-index: 1;
  position: --webkit-sticky;
  position: sticky;
  height: 4.5rem;

  .site-title{
    font-size: $font-size-lg;
  }
  .container{
    @extend %flex-layout;
    position: fixed;
  }
  #input_search {
    @include wh(30vw, auto);
    background-color: $sidebar-bg;
    background-image: url('/images/dashboard/navbar/magnifier.svg');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondary;
    border: 1px solid $secondary;
  }

  & .logo{
    display: flex;
    align-items: center;
    
    & img{
      @include wh(15rem, auto);
      object-fit: cover;
    }
  }
  & #button_user{
    text-align: center;
    justify-content: center;
  }

  & #min_logo{
    display: block;
    @include wh(5rem, auto);
    @media (max-width: 628px) {
      display: none;
    }
  }
}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar;
    background-color: $val;
  }
}
