%flex-layout{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar{
  @extend %flex-layout;
  padding: $base-padding $base-padding *2;
  box-shadow: $base-box-shadow;
  z-index: 1;
  
  position: fixed;
  height: 4.5rem;

  .small{
    display: none;
    @media (max-width: 662px){
      display: block;
      margin-right: 1rem;
    }

  }

  .modal-user{
    @extend .modal;

    
  @media (max-width: 662px){
    padding-top: 4rem;
  }

    .content-user{
      @extend .content;
      width: 90%;
      height: 80%;
      
      .exit{
        @include wh(3rem, auto);
        cursor: pointer;
        font-size: 28px;
        font-weight: bold;
        color: $secondary;
      }
    }
  }

  .site-title{
    font-size: $font-size-lg;
  }
  .container{
    @extend %flex-layout;
    position: fixed;
  }
  #input_search {
    @include wh(30vw, auto);
    background-color: $sidebar-bg;
    background-image: url(/images/dashboard/navbar/magnifier.svg);
    
    &::placeholder{
      color: $secondary;
      opacity: 1;
    }
    
    background-position: 10px 10px;
    background-repeat: no-repeat;
    transition: $transition;
    -webkit-transition: width 0.4s ease-in-out;
    color: $secondary;
    //align-items: center;
    border: 1px solid $secondary;
    
  }
  

  & .logo{
    display: flex;
    align-items: center;
    
    & img{
      @include wh(15rem, auto);
      object-fit: cover;
    }
  }
  & #button_user{
    padding: 0.5rem;
    img{
      @include wh(.8rem,auto); 
    }
  }

  & #button_user_small{
    display: none;
    text-align: center;
    justify-content: center;
  }

  & #min_logo{
    display: none;
    @include wh(4rem, auto);
    
  }
  & .link-responsive{
    display: none;
  }

  @media (max-width: 662px){
    padding: 0;
    & #min_logo{
      display: block;
    }
    #input_search{
     @include wh(50vw, auto);
    }

    & #full_logo{
      display: none;
    }
    & #button_user{
      display: none;
    }
    & #button_user_small{
      padding: .5rem 1rem;
      display: block;
      img{
       @include wh(1rem, auto);
      }
    }
  }

}

@each $key, $val in $colors {
  .navbar-#{$key}{
    @extend .navbar;
    background-color: $val;
  }
}
