@mixin link-active {
  filter: drop-shadow(0px 4.0197px 43.1678px rgba(0, 0, 0, 0.28));
}

%fixed-layout {
  position: fixed;
  left: 0;
  @include wh(15rem, 100%);
  overflow-y: scroll;
  background: $sidebar-bg;
  box-shadow: 0 0.1rem 1rem $sidebar-active-bg;
}

.sidebar {
  @extend %fixed-layout;
  top: 4.5rem;
  overflow-x: hidden;
  --webkit-transition: width 0.4s ease-in-out;

  &::-webkit-scrollbar {
    @include w(0);
  }


  & .menu {

    & .list {
      position: relative;
      transition: $transition;
      border-bottom: 1px solid hsl(205deg 2% 58% / 48%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        @include wh(0.3rem, 100%);
        background: $secondary;
        border-radius: 0.2rem;
        opacity: 0;
        pointer-events: none;
        transition: $transition;
      }

      &:hover::before,
      &.active::before {
        opacity: 1;
        transition: $transition;
      }

      & .link,
      & .settings,
      & .dropdown-btn {
        display: flex;
        font-size: $base-font-size;
        font-family: 'Roboto-light', sans-serif !important;
        align-items: center;
        width: 100%;
        i{
          &:before{
            
            font-size: inherit;
            color: inherit;
          }
        }
      }

      .dropdown-container {
       @extend .dropdown-content;
       position: relative;
       box-shadow: none;
       
       transition: $transition;
      & a{
        box-shadow: none;
        text-align: right;

        &:hover{
          color: $secondary;
          background: $sidebar-bg;
        }
       }
      }
     
      & svg {
        display: flex;
        @include wh(2.7rem, auto);
        padding: 0.5rem;
        object-fit: cover;
        align-items: center;
        //box-shadow: 0.2rem 0.1rem 1rem $sidebar-active-bg;
        path {
          fill: $secondary;
        }
      }
    }
  }

  @media (max-width: 628px) {
    .sidebar {
      @include w(5rem);
      overflow-x: hidden;
      top: 4rem;
    }
  }
}