.modal{
  z-index: 3;
  display: none;
  padding-top: 100px;
  position: fixed;
  left: 0;
  top: 0;
  @include wh(100%, auto);
  height: 100vh;
  overflow: auto;
  background-color:rgb(0,0,0);
  background-color:rgba(0,0,0,0.4);

  @media (max-width: 662px){
    padding-top: 4.5rem;
  }

  .content{
    margin: auto;
    background-color: #fff;
    opacity: 90%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0;
    outline: 0;
    width: 600px;
    text-align: center;

    @media (max-width: 662px){
      margin: 0 10px;
      width: auto!important
    }
  }

}

